<p id="notice"><%= notice %></p>

<p>
  <b>Height:</b>
  <%= @personal_datum.height %>
</p>

<p>
  <b>Weight:</b>
  <%= @personal_datum.weight %>
</p>

<p>
  <b>Age:</b>
  <%= @personal_datum.age %>
</p>

<p>
  <b>Gender:</b>
  <%= @personal_datum.gender %>
</p>

<p>
  <b>Activity level:</b>
  <%= @personal_datum.activity_level %>
</p>

<p>
  <b>User:</b>
  <%= @personal_datum.user_id %>
</p>

<p>
  <b>Bicep:</b>
  <%= @personal_datum.bicep %>
</p>

<p>
  <b>Waist:</b>
  <%= @personal_datum.waist %>
</p>

<p>
  <b>Thighs:</b>
  <%= @personal_datum.thighs %>
</p>

<p>
  <b>Hips:</b>
  <%= @personal_datum.hips %>
</p>

<p>
  <b>Chest:</b>
  <%= @personal_datum.chest %>
</p>

<p>
  <b>Calves:</b>
  <%= @personal_datum.calves %>
</p>

<p>
  <b>Shoulders:</b>
  <%= @personal_datum.shoulders %>
</p>


<%= link_to 'Edit', edit_personal_datum_path(@personal_datum) %> |
<%= link_to 'Back', personal_data_path %>
