<h2>Sign up</h2>

<%= form_for(@user, :as => @user, :url => registration_path(@user)) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :username %><br />
  		<%= f.text_field :username %></div>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, :autofocus => true %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.label :city %><br />
  		<%= f.text_field :city %></div>

  <div><%= f.label :state %><br />
  		<%= f.text_field :state %></div>

  <div><%= f.label :birthday %><br />
  		<%= f.number_field :birthday %></div>

  <div><%= f.label :birthyear %><br />
  		<%= f.number_field :birthyear %></div>

  <div><%= f.label :birthmonth %><br />
  		<%= f.number_field :birthmonth %></div>

  <div><%= f.submit "Sign up" %></div>
<% end %>
