<%= form_for @personal_info, url: new_user_personal_info_path(@user), html: { method: :post } do |f| %>

    <%= f.label :activity_level %><br>
    <%= f.number_field :activity_level %>

    <%= f.label :age %><br>
    <%= f.number_field :age %>

    <%= f.label :bicep %><br>
    <%= f.number_field :bicep %>

    <%= f.label :bicep %><br>
    <%= f.number_field :bicep %>

    <%= f.label :calves %><br>
    <%= f.number_field :calves %>

    <%= f.label :chest %><br>
    <%= f.number_field :chest %>

    <%= f.label :gender %><br>
    <%= f.text_field :gender %>

    <%= f.label :height %><br>
    <%= f.number_field :height %>

    <%= f.label :hips %><br>
    <%= f.number_field :hips %>

    <%= f.label :shoulders %><br>
    <%= f.number_field :shoulders %>

    <%= f.label :thighs %><br>
    <%= f.number_field :thighs %>

    <%= f.label :waist %><br>
    <%= f.number_field :waist %>

    <%= f.label :weight %><br>
    <%= f.number_field :weight %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
